In [1]:
from riotwatcher import LolWatcher, ApiError
from riot_api import key
import pandas as pd
from datetime import datetime
import json
from leagueDataParser import parseLeagueData
from leagueDataCleaner import cleanLeagueData

region = 'euw1'

lol = LolWatcher(key)

In [2]:
me = lol.summoner.by_name(region,'Katiounette')
puuid = me['puuid']

In [3]:
matchs = lol.match.matchlist_by_puuid(region,puuid, count = 100)
i = 100
while (lol.match.matchlist_by_puuid(region,puuid, count = 100, start = i) != []):
    matchs.extend(lol.match.matchlist_by_puuid(region,puuid, count = 100, start = i))
    i = i + 100
    break

In [8]:
matchData = None

for j,i in enumerate(matchs):
    p = lol.match.by_id(region,i)
    p = parseLeagueData(p, puuid)
    if j == 0:
        matchData = pd.DataFrame(columns = list(p.keys()))
    matchData.loc[j,:] = p
    if j == 10:
        break
matchData

,gameDuration,gameMode,gameStartTimestamp,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,...,primaryVar23,primaryVar33,secondaryPerk0,secondaryVar10,secondaryVar20,secondaryVar30,secondaryPerk1,secondaryVar11,secondaryVar21,secondaryVar31
0,1693,CLASSIC,1683833803099,0,0,1,0,0,0,0,...,0,0,8304,12,0,0,8345,3,0,0
1,1012,CLASSIC,1683131536235,0,0,0,0,0,0,1,...,0,0,8304,12,0,0,8345,3,0,0
2,1632,CLASSIC,1683129617935,0,0,5,0,0,0,0,...,0,0,8304,9,4,5,8345,3,0,0
3,180,CLASSIC,1683129138161,0,0,0,0,0,0,0,...,0,0,8304,0,0,0,8345,1,0,0
4,2146,CLASSIC,1683053919462,0,0,7,0,0,0,0,...,0,0,8304,10,3,0,8345,3,0,0
5,2191,CLASSIC,1682968146514,0,0,8,0,0,0,0,...,0,0,8304,10,3,0,8345,3,0,0
6,1563,CLASSIC,1682966275969,0,0,2,0,0,0,6,...,0,0,8139,723,0,0,8135,320,4,0
7,1341,CLASSIC,1682964525299,0,0,2,0,0,0,4,...,0,0,8304,9,4,5,8345,3,0,0
8,1565,ARAM,1682959684663,0,0,19,0,0,0,0,...,0,0,8139,1448,0,0,8135,450,5,0
9,1193,CLASSIC,1682958141543,0,0,8,0,0,0,8,...,0,0,8304,9,0,0,8345,3,0,0
10,131,CLASSIC,1682955322452,0,0,0,0,0,0,0,...,0,0,8304,0,0,0,8345,1,0,0

In [11]:
matchData = cleanLeagueData(matchData)
matchData

,puuid,dayMostFreq,hourMostFreq,monday,tuesday,wednesday,thursday,friday,saturday,sunday,...,primaryVar32,primaryVar13,primaryVar23,primaryVar33,secondaryVar10,secondaryVar20,secondaryVar30,secondaryVar11,secondaryVar21,secondaryVar31
0,p8bl0MvZHFp_3Xv0n-ct7HIqGxGD1eNKWbTEWeRkygFnIh...,0.0,2.0,0.545455,0.090909,0.272727,0.090909,0,0,0,...,0.0,262.363636,0.0,0.0,203.818182,1.272727,0.909091,72.090909,0.818182,0.0