In [33]:
import pandas as pd
import os

from leagueGetDataMultiplePlayers import getLeagueData
from leagueTargetCleaner import cleanLeagueTarget

dataFolder = "data"
parsedFolder = os.path.join(dataFolder, "parsedData")

from riotwatcher import LolWatcher, ApiError
from riot_api import key

lol = LolWatcher(key)

In [34]:
targets = pd.read_csv(os.path.join(dataFolder, 'dataForm.csv')).iloc[:,1:]
targets

,Pseudo,Région / TagLine,Date de naissance,Sexe,Département de résidence (numéro) actuel,Avez vous un job / Etes vous étudiant ?,Statut familial,Situation domicile,Achetez vous du contenu de jeu ?,"Niveau économique (1 = plus bas, 3 = plus haut)",Aimez vous le travail d'équipe ?,Savez vous jouer d'un instrument ?,Pratiquez vous du sport ?
0,Katiounette,euw1,01/10/2001,Femme,91,Oui,En couple,Je vis avec d'autres personnes,Rarement,2,Oui,Non,Parfois
1,Jazzon18,euw1,18/10/2001,Homme,33,Oui,En couple,Je vis seul,Rarement,2,Oui,Non,En amateur
2,Choc Epic,euw1,25/01/2001,Homme,33,Non,En couple,Je vis avec d'autres personnes,Rarement,1,Oui,Oui,Parfois
3,OhSSSans17,euw1,01/01/2001,Homme,91,Oui,En couple,Je vis avec d'autres personnes,Non,3,Oui,Oui,Non

In [53]:
region = 'euw1'
pseudo = targets.loc[0,'Pseudo']
player = lol.summoner.by_name(region,pseudo)
puuid = player['puuid']
data = pd.read_csv(os.path.join(parsedFolder, puuid + ".csv"), index_col=0)
data

,gameDuration,gameMode,gameStartTimestamp,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,...,primaryVar23,primaryVar33,secondaryPerk0,secondaryVar10,secondaryVar20,secondaryVar30,secondaryPerk1,secondaryVar11,secondaryVar21,secondaryVar31
0,1693,CLASSIC,1683833803099,0.0,0.0,1,0.0,0,0.0,0,...,0,0,8304,12,0,0,8345,3,0,0
1,1012,CLASSIC,1683131536235,0.0,0.0,0,0.0,0,0.0,1,...,0,0,8304,12,0,0,8345,3,0,0
2,1632,CLASSIC,1683129617935,0.0,0.0,5,0.0,0,0.0,0,...,0,0,8304,9,4,5,8345,3,0,0
3,180,CLASSIC,1683129138161,0.0,0.0,0,0.0,0,0.0,0,...,0,0,8304,0,0,0,8345,1,0,0
4,2146,CLASSIC,1683053919462,0.0,0.0,7,0.0,0,0.0,0,...,0,0,8304,10,3,0,8345,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,1025,CLASSIC,1650137188001,NaN,NaN,7,NaN,0,NaN,3,...,0,0,8138,30,0,0,8105,11,4,0
578,1297,CLASSIC,1650135664441,NaN,NaN,2,NaN,0,NaN,2,...,0,0,8138,10,0,0,8105,11,4,0
579,1151,CLASSIC,1650134371667,NaN,NaN,9,NaN,0,NaN,0,...,0,0,8138,30,0,0,8105,8,3,0
580,1353,CLASSIC,1650132824984,NaN,NaN,8,NaN,0,NaN,0,...,0,0,8138,18,0,0,8105,6,2,0
581,1692,CLASSIC,1648374193309,NaN,NaN,11,NaN,0,NaN,0,...,0,0,8138,30,0,0,8105,13,5,0

In [61]:
data[data.isna().any(axis=1)]

,gameDuration,gameMode,gameStartTimestamp,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,...,primaryVar23,primaryVar33,secondaryPerk0,secondaryVar10,secondaryVar20,secondaryVar30,secondaryPerk1,secondaryVar11,secondaryVar21,secondaryVar31
1,1012,CLASSIC,1683131536235,0.0,0.0,0,0.0,0,0.0,1,...,0,0,8304,12,0,0,8345,3,0,0
3,180,CLASSIC,1683129138161,0.0,0.0,0,0.0,0,0.0,0,...,0,0,8304,0,0,0,8345,1,0,0
4,2146,CLASSIC,1683053919462,0.0,0.0,7,0.0,0,0.0,0,...,0,0,8304,10,3,0,8345,3,0,0
6,1563,CLASSIC,1682966275969,0.0,0.0,2,0.0,0,0.0,6,...,0,0,8139,723,0,0,8135,320,4,0
8,1565,ARAM,1682959684663,0.0,0.0,19,0.0,0,0.0,0,...,0,0,8139,1448,0,0,8135,450,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,1025,CLASSIC,1650137188001,NaN,NaN,7,NaN,0,NaN,3,...,0,0,8138,30,0,0,8105,11,4,0
578,1297,CLASSIC,1650135664441,NaN,NaN,2,NaN,0,NaN,2,...,0,0,8138,10,0,0,8105,11,4,0
579,1151,CLASSIC,1650134371667,NaN,NaN,9,NaN,0,NaN,0,...,0,0,8138,30,0,0,8105,8,3,0
580,1353,CLASSIC,1650132824984,NaN,NaN,8,NaN,0,NaN,0,...,0,0,8138,18,0,0,8105,6,2,0
581,1692,CLASSIC,1648374193309,NaN,NaN,11,NaN,0,NaN,0,...,0,0,8138,30,0,0,8105,13,5,0

In [72]:
data.columns[data.loc[577,:].isna()]

Index(['allInPings', 'assistMePings', 'baitPings', 'basicPings',
       'commandPings', 'dangerPings', 'enemyMissingPings', 'enemyVisionPings',
       'getBackPings', 'holdPings', 'needVisionPings', 'onMyWayPings',
       'pushPings', 'totalAllyJungleMinionsKilled',
       'totalEnemyJungleMinionsKilled', 'visionClearedPings',
       'firstTurretKilled', 'mejaisFullStackInTime', 'mythicItemUsed',
       'playedChampSelectPosition', 'takedownsFirstXMinutes'],
      dtype='object')

In [36]:
d0 = set(data.columns[data.isna().any()].tolist())

In [37]:
region = 'euw1'
pseudo = targets.loc[1,'Pseudo']
player = lol.summoner.by_name(region,pseudo)
puuid = player['puuid']
data = pd.read_csv(os.path.join(parsedFolder, puuid + ".csv"), index_col=0)
data

,gameDuration,gameMode,gameStartTimestamp,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,...,primaryVar23,primaryVar33,secondaryPerk0,secondaryVar10,secondaryVar20,secondaryVar30,secondaryPerk1,secondaryVar11,secondaryVar21,secondaryVar31
0,2146,CLASSIC,1683053919462,0.0,3.0,9,0.0,0,0.0,0,...,0,0,8136,9,18,0,8105,13,5,0
1,2191,CLASSIC,1682968146514,0.0,0.0,6,0.0,0,0.0,0,...,0,0,8473,1402,0,0,8242,118,0,0
2,1563,CLASSIC,1682966275969,0.0,0.0,10,0.0,0,0.0,0,...,0,0,8136,4,8,0,8105,13,5,0
3,1341,CLASSIC,1682964525299,0.0,0.0,3,0.0,0,0.0,1,...,0,0,8136,2,4,0,8105,8,3,0
4,912,CLASSIC,1682954094536,0.0,0.0,6,0.0,0,0.0,0,...,0,0,8473,306,0,0,8242,65,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,1113,CLASSIC,1645262007250,NaN,NaN,13,NaN,0,NaN,0,...,0,0,8345,3,0,0,8347,0,0,0
824,1720,CLASSIC,1644784588330,NaN,NaN,6,NaN,0,NaN,0,...,0,0,8139,1021,0,0,8135,843,4,0
825,1229,CLASSIC,1644682819169,NaN,NaN,1,NaN,0,NaN,0,...,0,0,8345,3,0,0,8352,44,224,16
826,2420,CLASSIC,1644679967411,NaN,NaN,11,NaN,0,NaN,2,...,0,0,8473,1001,0,0,8242,70,0,0
827,1313,ARAM,1644671958578,NaN,NaN,20,NaN,0,NaN,0,...,0,0,8345,3,0,0,8352,78,448,21

In [38]:
d1 = set(data.columns[data.isna().any()].tolist())

In [39]:
region = 'euw1'
pseudo = targets.loc[2,'Pseudo']
player = lol.summoner.by_name(region,pseudo)
puuid = player['puuid']
data = pd.read_csv(os.path.join(parsedFolder, puuid + ".csv"), index_col=0)
data

,gameDuration,gameMode,gameStartTimestamp,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,...,primaryVar23,primaryVar33,secondaryPerk0,secondaryVar10,secondaryVar20,secondaryVar30,secondaryPerk1,secondaryVar11,secondaryVar21,secondaryVar31
0,1407,CLASSIC,1684592431109,0.0,1.0,7,0.0,0,0.0,5,...,0,0,8226,250,1017,0,8210,12,0,0
1,1405,CLASSIC,1684590608322,0.0,1.0,9,0.0,0,0.0,0,...,0,0,8226,250,874,0,8210,17,0,0
2,2306,CLASSIC,1684423404423,0.0,1.0,21,0.0,0,0.0,0,...,0,0,8313,0,0,0,8345,3,0,0
3,1568,CLASSIC,1684421416599,0.0,0.0,11,0.0,0,0.0,0,...,0,0,8313,0,0,0,8345,3,0,0
4,2159,CLASSIC,1684343220412,0.0,4.0,10,0.0,0,0.0,0,...,0,0,8226,250,767,0,8210,34,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,1985,CLASSIC,1645366993591,NaN,NaN,10,NaN,0,NaN,0,...,225,0,8473,547,0,0,8242,34,0,0
349,1729,CLASSIC,1645363724978,NaN,NaN,17,NaN,0,NaN,0,...,0,0,8345,3,0,0,8352,44,174,23
350,1015,CLASSIC,1645291295384,NaN,NaN,4,NaN,0,NaN,0,...,0,0,8138,7,0,0,8105,8,3,0
351,1383,CLASSIC,1644597963141,NaN,NaN,3,NaN,0,NaN,0,...,0,0,8226,250,324,0,8210,0,0,0
352,1626,CLASSIC,1644595997847,NaN,NaN,14,NaN,0,NaN,0,...,205,10,8473,731,0,0,8242,60,0,0

In [40]:
d2 = set(data.columns[data.isna().any()].tolist())

In [41]:
region = 'euw1'
pseudo = targets.loc[3,'Pseudo']
player = lol.summoner.by_name(region,pseudo)
puuid = player['puuid']
data = pd.read_csv(os.path.join(parsedFolder, puuid + ".csv"), index_col=0)
data

,gameDuration,gameMode,gameStartTimestamp,allInPings,assistMePings,assists,baitPings,baronKills,basicPings,bountyLevel,...,primaryVar23,primaryVar33,secondaryPerk0,secondaryVar10,secondaryVar20,secondaryVar30,secondaryPerk1,secondaryVar11,secondaryVar21,secondaryVar31
0,829,ARAM,1685371434874,0.0,0.0,21,0.0,0,0,3,...,0,0,8009,3059,0,0,8014,550,0,0
1,1568,CLASSIC,1685369625472,0.0,0.0,8,0.0,0,0,1,...,0,0,8473,440,0,0,8242,57,0,0
2,1672,CLASSIC,1685356131240,0.0,0.0,5,0.0,0,0,4,...,0,0,8473,536,0,0,8242,66,0,0
3,1824,CLASSIC,1685353942602,0.0,0.0,10,0.0,0,0,0,...,0,0,8226,250,771,0,8237,947,0,0
4,1305,ARAM,1685263554467,0.0,0.0,23,0.0,0,0,0,...,0,0,8226,250,92,0,8210,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,1168,CLASSIC,1657976556583,NaN,NaN,3,NaN,0,0,0,...,0,0,8138,6,0,0,8105,8,3,0
490,986,CLASSIC,1657975359835,NaN,NaN,19,NaN,0,0,0,...,0,0,8138,30,0,0,8105,13,5,0
491,999,ARAM,1657974071790,NaN,NaN,14,NaN,0,0,1,...,0,0,8138,30,0,0,8105,10,4,0
492,1359,CLASSIC,1657962960840,NaN,NaN,15,NaN,0,0,0,...,0,0,8233,6,30,0,8236,14,0,0
493,1101,CLASSIC,1657961565094,NaN,NaN,3,NaN,0,0,11,...,0,0,8138,30,0,0,8105,13,5,0

In [42]:
d3 = set(data.columns[data.isna().any()].tolist())

In [45]:
d2.update(d3)
d1.update(d2)
d0.update(d1)

d0

{'allInPings',
 'assistMePings',
 'baitPings',
 'basicPings',
 'commandPings',
 'completeSupportQuestInTime',
 'controlWardTimeCoverageInRiverOrEnemyHalf',
 'dangerPings',
 'dodgeSkillShotsSmallWindow',
 'earliestDragonTakedown',
 'earlyLaningPhaseGoldExpAdvantage',
 'enemyMissingPings',
 'enemyVisionPings',
 'epicMonsterStolenWithoutSmite',
 'fasterSupportQuestCompletion',
 'firstTurretKilled',
 'firstTurretKilledTime',
 'getBackPings',
 'getTakedownsInAllLanesEarlyJungleAsLaner',
 'highestChampionDamage',
 'highestWardKills',
 'holdPings',
 'immobilizeAndKillWithAlly',
 'kTurretsDestroyedBeforePlatesFall',
 'killAfterHiddenWithAlly',
 'killParticipation',
 'killedChampTookFullTeamDamageSurvived',
 'killsOnOtherLanesEarlyJungleAsLaner',
 'knockEnemyIntoTeamAndKill',
 'landSkillShotsEarlyGame',
 'laningPhaseGoldExpAdvantage',
 'maxCsAdvantageOnLaneOpponent',
 'maxLevelLeadLaneOpponent',
 'mejaisFullStackInTime',
 'multiTurretRiftHeraldCount',
 'mythicItemUsed',
 'needVisionPings',
 'onMyWayPings',
 'pickKillWithAlly',
 'playedChampSelectPosition',
 'pushPings',
 'quickCleanse',
 'quickFirstTurret',
 'quickSoloKills',
 'saveAllyFromDeath',
 'shortestTimeToAceFromFirstTakedown',
 'survivedThreeImmobilizesInFight',
 'takedownsFirstXMinutes',
 'teamDamagePercentage',
 'teamPosition',
 'teleportTakedowns',
 'threeWardsOneSweeperCount',
 'tookLargeDamageSurvived',
 'totalAllyJungleMinionsKilled',
 'totalEnemyJungleMinionsKilled',
 'twoWardsOneSweeperCount',
 'visionClearedPings',
 'visionScoreAdvantageLaneOpponent'}