In [1]:
import pandas as pd
import os

from leagueGetDataMultiplePlayers import getLeagueData
from leagueTargetCleaner import cleanLeagueTarget

dataFolder = "data"

In [2]:
data = pd.read_csv(os.path.join(dataFolder, 'dataForm.csv')).iloc[:,1:]
data

,Pseudo,Région / TagLine,Date de naissance,Sexe,Département de résidence (numéro) actuel,Avez vous un job / Etes vous étudiant ?,Statut familial,Situation domicile,Achetez vous du contenu de jeu ?,"Niveau économique (1 = plus bas, 3 = plus haut)",Aimez vous le travail d'équipe ?,Savez vous jouer d'un instrument ?,Pratiquez vous du sport ?
0,Katiounette,euw1,01/10/2001,Femme,91,Oui,En couple,Je vis avec d'autres personnes,Rarement,2,Oui,Non,Parfois
1,Jazzon18,euw1,18/10/2001,Homme,33,Oui,En couple,Je vis seul,Rarement,2,Oui,Non,En amateur
2,Choc Epic,euw1,25/01/2001,Homme,33,Non,En couple,Je vis avec d'autres personnes,Rarement,1,Oui,Oui,Parfois
3,OhSSSans17,euw1,01/01/2001,Homme,91,Oui,En couple,Je vis avec d'autres personnes,Non,3,Oui,Oui,Non

In [3]:
targets = cleanLeagueTarget(data)
targets

,pseudo,region,age,sex,department,job,relationship,live_with_others,buy_content,economic,love_team_work,play_instrument,sport
0,Katiounette,euw1,21.0,0,91,1,1,1,1,1,1,0,1
1,Jazzon18,euw1,21.0,1,33,1,1,0,1,1,1,0,2
2,Choc Epic,euw1,22.0,1,33,0,1,1,1,0,1,1,1
3,OhSSSans17,euw1,22.0,1,91,1,1,1,0,2,1,1,0

In [4]:
data = getLeagueData(targets)
data

Got matchs list from os for Katiounette
Saved parsed data for Katiounette
    gameDuration gameMode gameStartTimestamp allInPings assistMePings assists  \
0           1693  CLASSIC      1683833803099          0             0       1
1           1012  CLASSIC      1683131536235          0             0       0
2           1632  CLASSIC      1683129617935          0             0       5
3            180  CLASSIC      1683129138161          0             0       0
4           2146  CLASSIC      1683053919462          0             0       7
..           ...      ...                ...        ...           ...     ...
577         1025  CLASSIC      1650137188001        NaN           NaN       7
578         1297  CLASSIC      1650135664441        NaN           NaN       2
579         1151  CLASSIC      1650134371667        NaN           NaN       9
580         1353  CLASSIC      1650132824984        NaN           NaN       8
581         1692  CLASSIC      1648374193309        NaN           NaN      11

    baitPings baronKills basicPings bountyLevel  ... primaryVar23  \
0           0          0          0           0  ...            0
1           0          0          0           1  ...            0
2           0          0          0           0  ...            0
3           0          0          0           0  ...            0
4           0          0          0           0  ...            0
..        ...        ...        ...         ...  ...          ...
577       NaN          0        NaN           3  ...            0
578       NaN          0        NaN           2  ...            0
579       NaN          0        NaN           0  ...            0
580       NaN          0        NaN           0  ...            0
581       NaN          0        NaN           0  ...            0

    primaryVar33 secondaryPerk0 secondaryVar10 secondaryVar20 secondaryVar30  \
0              0           8304             12              0              0
1              0           8304             12              0              0
2              0           8304              9              4              5
3              0           8304              0              0              0
4              0           8304             10              3              0
..           ...            ...            ...            ...            ...
577            0           8138             30              0              0
578            0           8138             10              0              0
579            0           8138             30              0              0
580            0           8138             18              0              0
581            0           8138             30              0              0

    secondaryPerk1 secondaryVar11 secondaryVar21 secondaryVar31
0             8345              3              0              0
1             8345              3              0              0
2             8345              3              0              0
3             8345              1              0              0
4             8345              3              0              0
..             ...            ...            ...            ...
577           8105             11              4              0
578           8105             11              4              0
579           8105              8              3              0
580           8105              6              2              0
581           8105             13              5              0

[582 rows x 249 columns]
Saved matchs list for Jazzon18
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
Saved parsed data for Jazzon18
    gameDuration gameMode gameStartTimestamp allInPings assistMePings assists  \
0           2146  CLASSIC      1683053919462          0             3       9
1           2191  CLASSIC      1682968146514          0             0       6
2           1563  CLASSIC      1682966275969          0             0      10
3           1341  CLASSIC      1682964525299          0             0       3
4            912  CLASSIC      1682954094536          0             0       6
..           ...      ...                ...        ...           ...     ...
823         1113  CLASSIC      1645262007250        NaN           NaN      13
824         1720  CLASSIC      1644784588330        NaN           NaN       6
825         1229  CLASSIC      1644682819169        NaN           NaN       1
826         2420  CLASSIC      1644679967411        NaN           NaN      11
827         1313     ARAM      1644671958578        NaN           NaN      20

    baitPings baronKills basicPings bountyLevel  ... primaryVar23  \
0           0          0          0           0  ...            0
1           0          0          0           0  ...            0
2           0          0          0           0  ...            0
3           0          0          0           1  ...            0
4           0          0          0           0  ...            0
..        ...        ...        ...         ...  ...          ...
823       NaN          0        NaN           0  ...            0
824       NaN          0        NaN           0  ...            0
825       NaN          0        NaN           0  ...            0
826       NaN          0        NaN           2  ...            0
827       NaN          0        NaN           0  ...            0

    primaryVar33 secondaryPerk0 secondaryVar10 secondaryVar20 secondaryVar30  \
0              0           8136              9             18              0
1              0           8473           1402              0              0
2              0           8136              4              8              0
3              0           8136              2              4              0
4              0           8473            306              0              0
..           ...            ...            ...            ...            ...
823            0           8345              3              0              0
824            0           8139           1021              0              0
825            0           8345              3              0              0
826            0           8473           1001              0              0
827            0           8345              3              0              0

    secondaryPerk1 secondaryVar11 secondaryVar21 secondaryVar31
0             8105             13              5              0
1             8242            118              0              0
2             8105             13              5              0
3             8105              8              3              0
4             8242             65              0              0
..             ...            ...            ...            ...
823           8347              0              0              0
824           8135            843              4              0
825           8352             44            224             16
826           8242             70              0              0
827           8352             78            448             21

[828 rows x 253 columns]
Saved matchs list for Choc Epic
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
deleted
Saved parsed data for Choc Epic
    gameDuration gameMode gameStartTimestamp allInPings assistMePings assists  \
0           1407  CLASSIC      1684592431109          0             1       7
1           1405  CLASSIC      1684590608322          0             1       9
2           2306  CLASSIC      1684423404423          0             1      21
3           1568  CLASSIC      1684421416599          0             0      11
4           2159  CLASSIC      1684343220412          0             4      10
..           ...      ...                ...        ...           ...     ...
348         1985  CLASSIC      1645366993591        NaN           NaN      10
349         1729  CLASSIC      1645363724978        NaN           NaN      17
350         1015  CLASSIC      1645291295384        NaN           NaN       4
351         1383  CLASSIC      1644597963141        NaN           NaN       3
352         1626  CLASSIC      1644595997847        NaN           NaN      14

    baitPings baronKills basicPings bountyLevel  ... primaryVar23  \
0           0          0          0           5  ...            0
1           0          0          0           0  ...            0
2           0          0          0           0  ...            0
3           0          0          0           0  ...            0
4           0          0          0           0  ...            0
..        ...        ...        ...         ...  ...          ...
348       NaN          0        NaN           0  ...          225
349       NaN          0        NaN           0  ...            0
350       NaN          0        NaN           0  ...            0
351       NaN          0        NaN           0  ...            0
352       NaN          0        NaN           0  ...          205

    primaryVar33 secondaryPerk0 secondaryVar10 secondaryVar20 secondaryVar30  \
0              0           8226            250           1017              0
1              0           8226            250            874              0
2              0           8313              0              0              0
3              0           8313              0              0              0
4              0           8226            250            767              0
..           ...            ...            ...            ...            ...
348            0           8473            547              0              0
349            0           8345              3              0              0
350            0           8138              7              0              0
351            0           8226            250            324              0
352           10           8473            731              0              0

    secondaryPerk1 secondaryVar11 secondaryVar21 secondaryVar31
0             8210             12              0              0
1             8210             17              0              0
2             8345              3              0              0
3             8345              3              0              0
4             8210             34              0              0
..             ...            ...            ...            ...
348           8242             34              0              0
349           8352             44            174             23
350           8105              8              3              0
351           8210              0              0              0
352           8242             60              0              0

[353 rows x 254 columns]
Saved matchs list for OhSSSans17
deleted
deleted
Saved parsed data for OhSSSans17
    gameDuration gameMode gameStartTimestamp allInPings assistMePings assists  \
0            829     ARAM      1685371434874          0             0      21
1           1568  CLASSIC      1685369625472          0             0       8
2           1672  CLASSIC      1685356131240          0             0       5
3           1824  CLASSIC      1685353942602          0             0      10
4           1305     ARAM      1685263554467          0             0      23
..           ...      ...                ...        ...           ...     ...
489         1168  CLASSIC      1657976556583        NaN           NaN       3
490          986  CLASSIC      1657975359835        NaN           NaN      19
491          999     ARAM      1657974071790        NaN           NaN      14
492         1359  CLASSIC      1657962960840        NaN           NaN      15
493         1101  CLASSIC      1657961565094        NaN           NaN       3

    baitPings baronKills basicPings bountyLevel  ... primaryVar23  \
0           0          0          0           3  ...            0
1           0          0          0           1  ...            0
2           0          0          0           4  ...            0
3           0          0          0           0  ...            0
4           0          0          0           0  ...            0
..        ...        ...        ...         ...  ...          ...
489       NaN          0          0           0  ...            0
490       NaN          0          0           0  ...            0
491       NaN          0          0           1  ...            0
492       NaN          0          0           0  ...            0
493       NaN          0          0          11  ...            0

    primaryVar33 secondaryPerk0 secondaryVar10 secondaryVar20 secondaryVar30  \
0              0           8009           3059              0              0
1              0           8473            440              0              0
2              0           8473            536              0              0
3              0           8226            250            771              0
4              0           8226            250             92              0
..           ...            ...            ...            ...            ...
489            0           8138              6              0              0
490            0           8138             30              0              0
491            0           8138             30              0              0
492            0           8233              6             30              0
493            0           8138             30              0              0

    secondaryPerk1 secondaryVar11 secondaryVar21 secondaryVar31
0             8014            550              0              0
1             8242             57              0              0
2             8242             66              0              0
3             8237            947              0              0
4             8210             15              0              0
..             ...            ...            ...            ...
489           8105              8              3              0
490           8105             13              5              0
491           8105             10              4              0
492           8236             14              0              0
493           8105             13              5              0

[494 rows x 248 columns]

,puuid,dayMostFreq,hourMostFreq,monday,tuesday,wednesday,thursday,friday,saturday,sunday,...,primaryVar32,primaryVar13,primaryVar23,primaryVar33,secondaryVar10,secondaryVar20,secondaryVar30,secondaryVar11,secondaryVar21,secondaryVar31
0,p8bl0MvZHFp_3Xv0n-ct7HIqGxGD1eNKWbTEWeRkygFnIh...,1.0,2.0,0.152921,0.168385,0.14433,0.130584,0.109966,0.130584,0.16323,...,0.109966,294.195876,1.070447,0.0,241.769759,63.646048,0.694158,76.838488,9.955326,0.474227
1,RKmBWrKuzlo4ZGADQc6zoxtRBRdPakcXDN6cipGyK1EGxI...,6.0,2.0,0.125604,0.142512,0.119565,0.123188,0.124396,0.181159,0.183575,...,0.605072,405.612319,64.179952,0.477053,670.03744,43.10628,0.603865,229.134058,54.042271,5.478261
2,rWaB3oRKwIFWz050lP6b5TXQdjdYqlbra89TI1jN2sUuRT...,2.0,2.0,0.195467,0.186969,0.206799,0.090652,0.107649,0.087819,0.124646,...,0.130312,219.045326,11.15864,0.286119,384.677054,195.475921,0.1983,111.1983,16.436261,2.084986
3,XVHOCosPT0oX0q7PpWuFaj8Ll2bP9O7fscbCLRVx0tsNxK...,6.0,2.0,0.15587,0.139676,0.1417,0.12753,0.121457,0.15587,0.157895,...,0.777328,239.194332,0.736842,0.0,681.366397,62.004049,0.637652,220.643725,20.338057,0.066802

In [5]:
targets

,pseudo,region,age,sex,department,job,relationship,live_with_others,buy_content,economic,love_team_work,play_instrument,sport,puuid
0,Katiounette,euw1,21.0,0,91,1,1,1,1,1,1,0,1,p8bl0MvZHFp_3Xv0n-ct7HIqGxGD1eNKWbTEWeRkygFnIh...
1,Jazzon18,euw1,21.0,1,33,1,1,0,1,1,1,0,2,RKmBWrKuzlo4ZGADQc6zoxtRBRdPakcXDN6cipGyK1EGxI...
2,Choc Epic,euw1,22.0,1,33,0,1,1,1,0,1,1,1,rWaB3oRKwIFWz050lP6b5TXQdjdYqlbra89TI1jN2sUuRT...
3,OhSSSans17,euw1,22.0,1,91,1,1,1,0,2,1,1,0,XVHOCosPT0oX0q7PpWuFaj8Ll2bP9O7fscbCLRVx0tsNxK...